{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">    
</head>
<body>
    <img src="/static/Distribution 3.jpeg" alt="distribution image" class="image">
    <!-- Header -->
    <header>
        <div class="container">
            <h1>Ree Pee Enterprises</h1>
            <br>
            <nav>
                <ul>
                    <!-- <li><a href="project.html">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li> -->
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'service' %}">Service</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- About Section -->
    <section class="about">
        <div class="container">
            <h2>About Us</h2>
                
            </p> 
                What sets us apart is our unwavering commitment to customer satisfaction. We believe in building long-term partnerships based on trust, transparency, and mutual success. Our experienced account managers work closely with each client to develop customized distribution strategies that align with their business objectives and budgetary constraints. Whether you're a small startup or a multinational corporation, we have the expertise and resources to streamline your distribution processes and drive growth. <br> 
                    
                At Ree Pee Enterprise, we pride ourselves on our ability to adapt to the ever-evolving demands of the market. As industry pioneers, we embrace innovation and embrace change, constantly exploring new technologies and methodologies to stay ahead of the curve. With our forward-thinking approach and relentless pursuit of excellence, we empower businesses of all sizes to thrive in today's dynamic marketplace. <br> 
                    
                Partner with Ree Pee Enterprise today and experience the difference that superior distribution solutions can make for your business. Let us handle the logistics so you can focus on what you do best delivering value to your customers and driving success for your brand. <br>
            </p>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Ree Pee Enterprises. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
