{% load static %}
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img src="/static/Distribution 4.jpeg" alt="distribution image" class="image">
    <!-- Header -->
    <header>
        <div class="container">
            <h1>Ree Pee Enterprises</h1>
            <br>
            <nav>
                <ul>
                    <!-- <li><a href="project.html">Home</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="about.html">About</a></li> -->

                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'service' %}">Service</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Contact Section -->
    <section class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <form>
                <div class="form">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <div class="submit">
                    <button type="submit" class="btn">Submit</button>
                </div>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Ree Pee Enterprises. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
