{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img src="/static/Distribution.jpg" alt="Distribution Image" class="image">
    <!-- Header -->
    <header>
        <div class="container">
            <h1>Ree Pee Enterprises</h1>
            <br>
            <nav>
                <ul>
                    <!-- <li><a href="services">Services</a></li> -->
                    <!-- <li><a href="about.html">About</a></li> -->
                    <!-- <li><a href="contact.html">Contact</a></li> -->
                    <li><a href="{% url 'service' %}">Services</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <h2>Welcome to Our Business</h2>
            <p>Welcome to Ree Pee Enterprises, your trusted partner in distribution solutions. With years of experience and a commitment to excellence, we specialize in efficiently distributing goods to businesses and consumers alike. Our dedicated team ensures that your products reach their destinations on time, every time, with the utmost care and attention to detail. Whether you're a manufacturer looking to expand your reach or a retailer seeking reliable supply chain solutions, Ree Pee Enterprises is here to meet your distribution needs. Partner with us and experience seamless logistics, unparalleled customer service, and accelerated growth for your business.
            </p>
        </div>
        <div class="button">
            <a href="{% url 'contact' %}" class="btn">Get Started</a>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Ree Pee Enterprises. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
