{% load static %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img src="/static/Distribution 2.jpeg" alt="distribution image" class="image">
    <!-- Header -->
    <header>
        <div class="container">
            <h1>Ree Pee Enterprises</h1>
            <br>
            <nav>
                <ul>
                    <!-- <li><a href="project.html">Home</a></li> -->
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Services Section -->
    <section class="services">
        <div class="container">
            <h2>Our Services</h2>
            <div class="service">
                <h3>Service 1</h3> <br>
                <p>
                    Service 1 at Ree Pee Enterprises offers comprehensive logistics solutions tailored to meet the unique needs of businesses across various industries. With a focus on efficiency and reliability, we streamline the supply chain process from procurement to distribution, ensuring seamless operations and timely delivery of goods. Our experienced team leverages advanced technologies and industry best practices to optimize inventory management, transportation, and warehousing, allowing our clients to reduce costs and enhance customer satisfaction. Whether you're a small startup or a multinational corporation, Service 1 provides the logistical support you need to thrive in today's competitive market.
                </p>
            </div>
            <div class="service">
                <h3>Service 2</h3> <br>
                <p>Service 2 at Ree Pee Enterprises specializes in warehousing and fulfillment services designed to simplify inventory management and improve order fulfillment processes. With our state-of-the-art facilities and robust inventory tracking systems, we offer flexible storage solutions to accommodate businesses of all sizes. From receiving and storage to pick, pack, and ship operations, our dedicated team ensures accuracy and efficiency at every step of the fulfillment process. With Service 2, you can scale your operations seamlessly, reduce overhead costs, and deliver a superior customer experience. Let us handle your warehousing and fulfillment needs so you can focus on growing your business.</p>
            </div>
            <!-- Add more service items as needed -->
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Ree Pee Enterprises. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
